.uploadButton = {
  margin: 15px;
  width: 220px;
}

.buttonspaper {
  position: absplute;
  border: 0.1em black solid;
  top: 0px;
  margin: 7px 5px;
  height: 100px;
  width: 99%;
}

.filespaper {
  position: relative;
  border: 0.1em black solid;
  top: 0px;
  margin: 5px;
  width: 99%;
}
