@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  /*background-color: #EAEDED;*/
  /*background-image: linear-gradient(75deg, 	rgb(192, 192, 192) 15%, rgba(0, 1, 127, .7));*/
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: black;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
